@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.vote-label{
  padding: 20px;
  width: 300px;
}

.form-control.vote-select {
  margin-top: 10px;
}

.form-control.vote-button {
  margin: 0 auto;
  width: 200px;
}

.ethereum-logo {
  width: 450px;
}
